<div fxLayout="row wrap" fxLayoutGap="12px" class="footer">
  <div fxFlex>
    <div class="container" fxLayout="column">
      <a mat-button color="primary" fxFlex>Home</a>
      <a mat-button color="primary" fxFlex>About</a>
      <a mat-button color="primary" fxFlex>Contacts</a>
    </div>
  </div>
  <div class="container" fxFlex fxLayout="column">
    <a mat-button color="primary" fxFlex>Circles</a>
    <a mat-button color="primary" fxFlex>Library</a>
    <a mat-button color="primary" fxFlex>Users</a>
  </div>
  <small fxFlex="100%">All rights reserved. 2021 | Devin Kobe Camerino.</small>
</div>
