<div class="jumbotron">
  <section>
    <div class="h1">this is the homepage</div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>
</div>

<div fxLayout="row wrap">
  <div fxFlex="80%">
             <!-- Featured Section -->
               <div class="h1 deep-purple">Featured Novels</div>
               <div class="container">
                 <p class="deep-purple">
                   placeholder
                 </p>
               </div>

             <!-- Recommended Section -->
               <div class="h1 deep-purple">Recommended</div>
               <div class="container">
                 <p class="deep-purple">
                   placeholder
                 </p>
               </div>

             <!-- Newly Updates Section -->
               <div class="h1 deep-purple">Newly Updated</div>
               <div class="container">
                 <p class="deep-purple">
                   placeholder
                 </p>
               </div>
  </div>

  <div fxFlex="20%">
            <!-- Ranking Section -->
              <div class="h1 deep-purple">Ranking:</div>
              <div class="">
                <ol>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ol>
              </div>
  </div>

</div>
