<div class="jumbotron">
  <section class="content">
    <p class="h1 floral-white">this is the homepage</p>
    <p class="floral-white justify-content-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="floral-white justify-conent-center">
      <small>NOTE: THIS HAVE NO BACKEND YET. JUST DESIGN</small>
      <br>
      <small>WILL CONTINUE TO DEVELOP</small>
    </p>
  </section>
</div>
<div class="container">
</div>
<div fxLayout="row wrap">
  <div class="float-right" fxFlex>
    <!-- Featured Section -->
    <div class="container">
      <div class="h1 deep-purple">Featured Novels</div>
      <div class="content fadein">
        <div class="novel-container">
          <div fxLayout="row" fxLayoutGap="12px">
            <div *ngFor="let loop of loops">
              <div fxFlex>
                <a routerLink="/novel">
                  <img class="novel-cover-image" src="../assets/img/peafowl.PNG" alt="picture">
                </a>
                <p class="deep-purple">
                  placeholder {{loop}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Recommended Section -->
    <div class="container">
      <div class="h1 deep-purple">Recommended</div>
      <div class="content fadein">
        <div class="novel-container">
          <div fxLayout="row" fxLayoutGap="12px">
            <div *ngFor="let loop of loops">
              <div fxFlex>
                <a routerLink="/novel">
                  <img class="novel-cover-image" src="../assets/img/peafowl.PNG" alt="picture">
                </a>
                <p class="deep-purple">
                  placeholder {{loop}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Newly Updates Section -->
    <div class="container">
      <div class="h1 deep-purple">Newly Updated</div>
      <div class="content fadein">
        <div class="novel-container">
          <div fxLayout="row" fxLayoutGap="12px">
            <div *ngFor="let loop of loops">
              <div fxFlex>
                  <a routerLink="/novel">
                    <img class="novel-cover-image" src="../assets/img/peafowl.PNG" alt="picture">
                  </a>
                <p class="deep-purple">
                  placeholder {{loop}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
