.novel-container {
  width: auto;
  padding: 12px;
}

.novel-icon {
  width: 25%;
  height: auto;
}

img:hover {
  transform: scale(1.1);
}

.novel-information-padding {
  padding: 6px;
  // border:  thin solid black;
  width: 100%;
}

.info-padding {
  padding: 6px;
}
