.novel-container {
  width: auto;
  padding: 12px;
}

.select:hover {
    cursor: pointer;
}

.novel-information {
  width: 50%;
  height: auto;
  border: thin solid black;
}

.novel-icon {
  width: 250px;
  height: auto;
}


.novel-information-padding {
  padding: 6px;
  // border:  thin solid black;
  width: 100%;
}

.info-padding {
  padding: 6px;
}
