<div id="fadein">
  <section>
    <div class="h2 deep-purple">About:</div>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  <section>
    <div class="h2 deep-purple">Date Created:</div>
    <p class="text">June 20, 2021</p>
  </section>

  <section>
    <div class="h2 deep-purple">Birthday:</div>
    <p class="text">September 14, 1998</p>
  </section>
</div>
