<div class="container fadein">
  <div fxLayout="row wrap">
    <div fxFlex>

  <!-- Illustration Section -->
    <p class="h2 deep-purple">
      A quick brown forx jumps over the lazy dog.
    </p>
        <div fxLayout="row wrap">
          <div fxFlex class="container" fxFlex.lt-lg="100%">
            <img class="responsive" src="../assets/img/peafowl.PNG" alt="picture">
          </div>

          <mat-tab-group class="tab-group"  fxFlex mat-align-tabs="center">

            <mat-tab label="Sypnosis">
              <div class="container chapter-content">
                <p class="h4 deep-purple">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiult-lgod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </mat-tab>

            <mat-tab label="Information">
                <div class="container chapter-content" fxLayout="row wrap">
            <!-- Information Section -->
                  <div fxFlex fxFlex.lt-lg="100%">
                    <p class="deep-purple">
                      Genre: <span class="h4 deep-purple">Horror, Slice of Life, Seinen</span>
                    </p>
                    <p class="h3 deep-purple">
                      Author: <span class="h4 deep-purple">Deko</span>
                    </p>
                    <p class="deep-purple">
                      Status: <span class="h4 deep-purple">Ongoing</span>
                    </p>
                    <p class="deep-purple">
                      <button mat-raised-button color="accent" *ngIf="!is_subscribe" (click)="this.is_subscribe === false ? this.is_subscribe = true  : this.is_subscribe = false">Subscribe</button>
                      <button mat-raised-button class="disabled" *ngIf="is_subscribe" (click)="this.is_subscribe === true ? this.is_subscribe = false  : this.is_subscribe = true">Subscribed</button>
                    </p>
                  </div>
                </div>
              </mat-tab>

            <mat-tab label="Chapters">
              <!-- Chapter List Section -->
              <div fxLayout="row">
                <div class="container" fxFlex>

                  <!-- Chapter Number -->
                  <div class="container chapter-content">
                    <div fxLayout="row wrap">
                      <div fxFlex>
                        <p class="deep-purple">Chapter 1: <span class="h4 deep-purple">The Beginning</span></p>
                        <p class="deep-purple">Chapter 2: <span class="h4 deep-purple">The Promise</span></p>
                        <p class="deep-purple">Chapter 3: <span class="h4 deep-purple">False Promise</span></p>
                        <p class="deep-purple">Chapter 4: <span class="h4 deep-purple">Hope</span></p>
                        <p class="deep-purple">Chapter 5: <span class="h4 deep-purple">World's Finest</span></p>
                      </div>
                    </div>
                  </div>
                  <!-- ------ -->

                </div>
              </div>
            </mat-tab>
            <mat-tab label="Comments">
              <div class="container chapter-content">
                <ng-container *ngFor="let comment of comments.comments">
                  <p class="deep-purple">{{comment.user}}</p>
                  <p class="h4 deep-purple comment-content">
                    {{comment.comment}}
                  </p>
                  <mat-divider></mat-divider>
                </ng-container>
              </div>
            </mat-tab>
          </mat-tab-group>

      </div>
    </div>
  </div>
</div>
