<div class="container">
  <div fxLayout="row wrap">

<!-- Illustration Section -->
    <div fxFlex>
      <div class="h1 deep-purple">
        Title: this is the title
      </div>
      <div fxLayout="row wrap">
        <div fxFlex class="container" fxFlex.lt-lg="100%">
          <img class="responsive" src="../assets/img/peafowl.PNG" alt="picture">
        </div>

        <div fxFlex fxFlex.lt-lg="100%">
          <p class="deep-purple">
            Sypnosis:
          </p>
          <div class="container">
            <p class="deep-purple">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiult-lgod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

        </div>
      </div>
<!-- ------------------ -->

      <div fxLayout="row wrap">
  <!-- Information Section -->
        <div fxFlex fxFlex.lt-lg="100%">
          <p class="deep-purple">
            Genre: Horror, Slice of Life, Seinen
          </p>
          <p class="deep-purple">
            Author: Deko
          </p>
          <p class="deep-purple">
            Status: Ongoing
          </p>
        </div>
  <!-- --------------- -->
      </div>

    </div>

  </div>
</div>

<!-- Chapter List Section -->
<div fxLayout="row">
  <div fxFlex="100%">
    <div class="h1 deep-purple">
      Chapter List:
    </div>

    <!-- Chapter Number -->
    <div class="container">
      <div fxLayout="row wrap">
        <div fxFlex>
          <p class="deep-purple">Chapter 1: The Beginning</p>
          <p class="deep-purple">Chapter 2: The Promise</p>
          <p class="deep-purple">Chapter 3: False Promise</p>
          <p class="deep-purple">Chapter 4: Hope</p>
          <p class="deep-purple">Chapter 5: World's Finest</p>
        </div>
        <div fxFlex fxHide.lt-lg>
          <p class="deep-purple">09/16/2021</p>
          <p class="deep-purple">09/16/2021</p>
          <p class="deep-purple">09/16/2021</p>
          <p class="deep-purple">09/16/2021</p>
          <p class="deep-purple">09/16/2021</p>
        </div>
        <div class="float-right" fxHide.lt-sm>
          <p class="deep-purple">123,421 views</p>
          <p class="deep-purple">143,653 views</p>
          <p class="deep-purple">546,009 views</p>
          <p class="deep-purple">985,143 views</p>
          <p class="deep-purple">1,453,729 views</p>
        </div>
      </div>
    </div>
    <!-- ------ -->

  </div>
</div>
<!-- --------- -->
