<div id="fadein" class="container">
  <!-- <div class="h3 deep-purple">Conversation</div> -->
  <div class="chat-box">
  <div fxLayout="column">
    <div fxFlex class="container">
      <div class="text-bubble float-right">
        <div class="message-container">
          <div class="h3 deep-purple">You :</div>
          <p class="message-size deep-purple">Hi!, im your huge fan, you're my huge inspiration</p>
        </div>
      </div>
    </div>
    <div fxFlex class="container">
      <div class="float-left text-bubble">
        <div class="message-container">
          <div class="h3 deep-purple">Author-san:</div>
          <p class="message-size deep-purple">Hello Thankyou for the support uwu!!</p>
        </div>
      </div>
    </div>
    <div fxFlex class="container">
      <div class="text-bubble float-right">
        <div class="message-container">
          <div class="h3 deep-purple">You :</div>
          <p class="message-size deep-purple">Hope we get along ^^</p>
        </div>
      </div>
    </div>
    <div fxFlex class="container">
      <div class="text-bubble float-right">
        <div class="message-container">
          <div class="h3 deep-purple">You :</div>
          <p class="message-size deep-purple">Hope to see you soon!</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="spacing"></div>

  <textarea name="name"></textarea>
  <button class="float-right" mat-raised-button color="primary">
    <fa-icon [icon]="faPaperPlane"></fa-icon>
  </button>
</div>
