<div class="container">
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex fxFlex.lt-md="100%">
    <div fxLayout="row">
      <div fxFlex.lt-md="100%" fxFlex class="container">
        <img class="responsive" src="../assets/img/peafowl.PNG" alt="picture">
      </div>

    </div>
    <div fxLayout="row">
      <table class="container" fxFlex fxFlex.lt-md="100%">
        <tr routerLink="/profile/about" routerLinkActive="active-link">
          <th>
            <p>
              About
            </p>
          </th>
        </tr>
        <tr routerLink="/profile/messages" routerLinkActive="active-link">
          <th>
            <p>
              Message
            </p>
          </th>
        </tr>
        <tr routerLink="/profile/circle" routerLinkActive="active-link" >
          <th>
            <p >
              Circle
            </p>
          </th>
        </tr>
        <tr routerLink="/profile/works" routerLinkActive="active-link" >
          <th>
            <p >
              Works
            </p>
          </th>
        </tr>
        <tr>
          <th>
            <p>
              Following
            </p>
          </th>
        </tr>
      </table>

    </div>
  </div>

  <div fxFlex fxFlex.lt-md="100%" class="container information-container">
        <router-outlet></router-outlet>

  </div>
</div>

</div>
