.active-link {
  color: rgb(56, 0, 89);
  background: white;
}

th {
  cursor: pointer;
}

tr:hover {
  background: white;

  // purple
  color: rgb(56, 0, 89);
}

tr{
  background: rgb(56, 0, 89);
}

.information-container {
  width: auto;
  height: 640px;
  overflow-y: scroll;
}
