$primary-color: #683cb4;
.active-link {
  color: $primary-color;
  background: white;
}

th {
  cursor: pointer;
}

tr:hover {
  background: white;

  // purple
  color: $primary-color;
}

tr{
  background: $primary-color;
}

.information-container {
  width: auto;
  height: 640px;
  overflow-y: scroll;
}
