<div class="container">
<div fxLayout="row wrap">
  <div fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="100%" class="container">
        <img class="responsive" src="../assets/img/peafowl.PNG" alt="picture">
      </div>

    </div>
    <div fxLayout="row">
      <table class="container" fxFlex="100%">
        <tr>
          <th>
            <p >
              <a routerLink="/profile/about" routerLinkActive="active-link">About</a>
            </p>
          </th>
        </tr>
        <tr>
          <th>
            <p >
              <a routerLink="/profile/messages" routerLinkActive="active-link">Message</a>
            </p>
          </th>
        </tr>
        <tr>
          <th>
            <p >
              <a routerLink="/profile/circle" routerLinkActive="active-link" >Circle</a>
            </p>
          </th>

        </tr>
        <tr>
          <th>
            <p >
              <a routerLink="/profile/works" routerLinkActive="active-link" >Works</a>
            </p>
          </th>
        </tr>
        <tr>
          <th>
            <p >
              <a href="#">Following</a>
            </p>
          </th>
        </tr>
      </table>

    </div>
  </div>

  <div fxFlex class="container">
    <div>
        <router-outlet></router-outlet>
    </div>

  </div>
</div>

</div>
