.side-nav {
  margin: 12px;
  width: auto;
  a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    padding: 12px;
    line-height: normal;
  }
  .icon-container{
    padding: 6px;
  }
}

.content {
  width: auto;
  height: 720px;
}
